.form {
   &-input__container {
      display: flex;
      flex-direction: row;
      position: relative;
   }

   &__input {
      margin-top: 1rem;
      margin-bottom: 2rem;
      display: block;
      border-bottom: 1px solid #222;
      width: 100%;

      &:focus ~ .form__input-label {
         font-size: 1rem;
         top: -.5rem;
      }

      &-label {
         font-size: 1.1rem;
         font-weight: 300;
         color: #4b4949;
         position: absolute;
         top: 2rem;
         cursor: pointer;

         transition: all .8s;
      }
   }
}

.shrink {
   font-size: .9rem;
   top: -.5rem;
}